:host {
  padding: 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;

  .apply-button {
    align-self: center;
  }

  input[type=number] {
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}